.bar {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  height: 5.4rem;
  display: flex;
  align-items: center;
}
.bar a,
.bar h2 {
  margin-left: 2rem;
}
.wrap {
  width: 80%;
  margin: 4rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap label {
  color: #ff2f2f;
  font-size: var(--fs-small);
  display: inline-block;
  text-decoration: none;
  border: 2px solid #ff2f2f;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 13rem;
  height: 3rem;
  text-align: center;
}
.wrap span {
  color: #000;
  font-size: var(--fs-small);
  font-weight: var(--fw-slim);
  margin-left: 1rem;
}
.wrap input {
  border: 2px solid #000;
}
.wrap input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.imgWrap {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.img {
  height: 8rem;
  width: 8rem;
  margin-right: 6rem;
  border-radius: 5rem;
}
.close {
  position: absolute;
  top: 0;
  right: 40%;
  height: 2.8rem;
  width: 2.8rem;
  border: 2px solid #ff2f2f;
  background-color: #fff;
  border-radius: 5rem;
  text-align: center;
}
.successBar {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 7rem;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: #14bebb;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: var(--fs-mid);
  color: #fff;
}
