.errorBanner {
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  color: #000;
  border: #ff0000;
}
.hide {
  display: none;
}
.errMessage {
  margin-bottom: 1rem;
  margin-top: -1rem;
  color: #ff0000;
  font-size: 1.4rem;
}
