.noPosts {
  width: 90%;
  margin: 2rem auto 0;
  text-align: center;
  font-size: var(--fs-small);
}
.postList {
  width: 80%;
  margin: 1rem auto 5.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post {
  position: relative;
  margin: 1rem 0;
  width: 28rem;
  min-height: 10rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.icon {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
}
.postContent h2 {
  width: 90%;
  margin: 0 auto;
  padding: 0.8rem 0;
  text-align: left;
  line-height: 21px;
}
.text {
  width: 90%;
  margin: 0 auto;
  padding: 0.8rem 0;
  font-size: var(--fs-small);
}
.imagePosition {
  position: absolute;
  width: 100%;
}
.topic {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
}
.date {
  font-size: var(--fs-tiny);
  font-weight: var(--fw-slim);
}
.follow {
  width: 6.5rem;
  height: 1.65rem;
  background-color: #ff2f2f;
  border-radius: 1rem;
  font-size: var(--fs-tiny);
  font-weight: var(--fw-bold);
  border: none;
}
.postTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.postBottom span {
  font-weight: var(--fw-bold);
  font-size: var(--fs-tiny);
}
.postBottom {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
.postBottom div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coverImage {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
}
