.showWrap {
  margin-top: 7.5rem;
}
.postTop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.userPic {
  position: absolute;
  top: -50%;
  width: 2.3rem;
  right: -8%;
}
.createWrap {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns {
  margin-top: 1rem;
}
.cancel,
.send {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  padding: 1rem 1.6rem;
  border: none;
}
.cancel {
  background-color: transparent;
  margin-right: 1rem;
}
.cancel:focus {
  outline: none;
}
.createComm {
  width: 28rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border: none;
  border-bottom: 2px solid #909090;
}
.createComm:focus {
  border-bottom: 2px solid #000;
  outline: none;
}
.postTop img {
  border-radius: 10rem;
}
.showLikes span {
  margin: 0 1rem;
}
.count {
  margin: 0 1rem;
}
.post {
  width: 27rem;
  margin: 0 auto;
}
.postCore > *,
.postTop > * {
  color: #000;
}
.postTop span {
  text-align: center;
  font-size: var(--fs-small);
}
.topic,
.name {
  font-weight: var(--fw-bold);
}
.title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-big);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.content {
  font-weight: var(--fw-slim);
  font-size: var(--fs-small);
}
.actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions span {
  color: #878a8c;
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
}
.actions div {
  display: inline-flex;
  align-items: center;
}
.image {
  border-radius: 1rem;
  width: 100%;
  margin: 0 auto;
}
