.showWrap {
  margin-top: 6rem;
}
.showWrap span {
  color: #878a8c;
}
.showLikes {
  display: flex;
  align-items: center;
}
.postTop {
  display: flex;
  align-items: center;
}
.post {
  width: 25rem;
  margin: 0 auto;
  position: relative;
}
.postCore > *,
.postTop > * {
  color: #000;
}
