.wrap {
  width: 80%;
  margin: 4rem auto 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap option {
  border-radius: 1rem;
}
.wrap label {
  color: #ff2f2f;
  font-size: var(--fs-small);
  display: inline-block;
  text-decoration: none;
  border: 2px solid #ff2f2f;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 13rem;
  height: 3rem;
  text-align: center;
}
.wrap span {
  color: #000;
  font-size: var(--fs-small);
  font-weight: var(--fw-slim);
  margin-left: 1rem;
}
.wrap input,
.wrap select {
  border: 2px solid #000;
}
.wrap input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.wrapper {
  margin-bottom: 2rem;
  width: 29rem;
}
.wrap textarea:focus,
.wrap select:focus {
  outline: 2px solid #33a5e7;
}
.delPic {
  cursor: pointer;
  position: absolute;
  top: -60%;
  right: -15%;
}
.hide {
  display: none;
}
.name {
  position: relative;
  display: inline;
}
.postImage {
  border-radius: 1rem;
  max-height: 50rem;
  width: min(40vw, 30rem);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 15;
  background: rgba(0, 0, 0, 0.5);
}
.wave {
  width: 0.5rem;
  height: 10rem;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 1rem;
  animation: wave 1s linear infinite;
  border-radius: 2rem;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}
@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
