.errorBanner {
  cursor: pointer;
  position: fixed;
  transition: all 0.3s;
  top: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  background-color: #eb4d4b;
  font-size: var(--fs-mid);
  font-weight: var(--fw-slim);
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 1rem;
  width: min(30rem, 80%);
  height: auto;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.errMessage {
  margin-bottom: 1rem;
}
.hide {
  display: none;
}
.custom500 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h500 {
  text-align: center;
}
.errWrap {
  background: rgba(0, 0, 0, 0.85);
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
