.mybackground {
  position: absolute;
  top: 0;
  bottom: 0%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indexImg {
  background: linear-gradient(0deg, #00000080, #00000080),
    url('../public/img/indexPic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.signinImg {
  background: linear-gradient(0deg, #00000033, #00000033),
    url('../public/img/signinPic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  margin: 7.5rem 0 1rem;
}
.indexSpan {
  text-align: center;
  width: 85%;
}
.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-height: 28rem) {
  .indexImg,
  .signinImg {
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  }
}
@media only screen and (max-height: 20rem) {
  .mybackground button:last-child {
    margin-bottom: 2rem;
  }
  .mybackground {
    position: static;
  }
}
@media only screen and (min-width: 50rem) {
  .indexImg,
  .signinImg {
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  }
}
@media only screen and (min-width: 28rem) and (min-height: 28rem) {
  .heading {
    margin: 15rem 0 1rem;
  }
}
